.header {
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 6;
}
.header-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.header-subtext {
  display: flex;
  flex-direction: column;
  max-width: 25em;
}

.words {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

p {
  margin: 0;
}

.header-subtext2 {
  display: flex;
  max-width: 150px;
}

.header-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-button {
  background-color: #3882f6;
  max-width: 100px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: white;
  font-weight: 800;
  margin-top: 5px;
}

h3 {
  font-size: 25px;
  margin: 0px;
  padding-bottom: 50px;
}
ul {
  display: flex;
  gap: 30px;
}
img {
  width: 100px;
  border: #3882f6 solid;
  border-radius: 16px;
}

.header-img {
  border: none;
  width: 200px;
  height: auto;
  padding: 0;
  border-radius: 0;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: #e5e7eb;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: roboto;
}
.middle-content {
  display: flex;
}
.cards {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  align-items: center;
}
.header-bottom {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.third {
  display: flex;
  flex: 5;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
}
.bottom {
  display: flex;
  flex: 5;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.second {
  display: flex;
  flex: 5;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 20px 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 25px;
}
#quote {
  font-size: 25px;
  font-style: italic;
  max-width: 25em;
}
.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}
#thor {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
}

.bottom-content {
  display: flex;
  background-color: #3882f6;
  padding: 40px 120px;
  border-radius: 16px;
  align-items: center;
  gap: 150px;
}

.bot-container {
  display: flex;
  flex-direction: column;
}

#call {
  font-size: 20px;
  font-weight: 700;
  color: #f9faf8;
}

#sign-up {
  color: #f9faf8;
}

.bot-button {
  background-color: transparent;
  padding: 5px 15px;
  border: white solid;
  color: white;
  border-radius: 5px;
  font-weight: 900;
}

.text {
  font-size: 14px;
  max-width: 200px;
  text-align: center;
}

.button {
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
}
